body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.l-shape {
  transform: rotate(-180deg);
  position: relative;
  width: 2px; /* Width of the vertical part */
  height: 100px; /* Height of the vertical part */
  background-color: #ff3366; /* Color of the L */
}

.l-shape::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Position it below the vertical part */
  left: 0px; /* Position it to the left of the vertical part */
  width: 40px; /* Width of the curved part */
  height: 2px; /* Height of the curved part */
  background-color: #ff3366; /* Same color as the L */
  border-radius: 0 0 0px 60px; /* Rounded bottom corners */
}
